<html>
<head>
  <meta charset="utf-8">
  <style>
    #svg {
		background:silver;
		border: black thick  1px;
	}
	
	g {
		fill:red;
	}
	
	#idPoly{style="stroke:black;stroke-width:2px;fill:yellow"	}
    </style>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- JS -->
	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
	<script src="//d3js.org/d3.v3.min.js"></script>	
		
</head>

<body>
	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">WebSiteName</a>
			</div><!--/navBar header-->
			
			<ul class="nav navbar-nav">
			
								
			  <li><a href="#" id="newSite" [ngClass]="{'disabled':isOneSite}"  (click)="addPolygons(true);">Nouveau site</a></li>
			  <li class="active"><a href="#">Home</a></li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Nouvelle forme
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#" id="newSite">Nouveau site</a></li>
				  <li><a href="#" [ngClass]="{'disabled':isOneSite}"  (click)="addPolygons(false);">Nouveau batiment</a></li>
				  <li><a href="#">Page 1-3</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Modification
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#" onclick="modificationSite();">Modification site</a></li>
				  <li><a href="#" onclick="modificationBuilding();">Modification batiment</a></li>				  
				</ul>
			  </li>
			  
			  <li><a href="#">Page 2</a></li>
			  <li><a href="#">Page 3</a></li>
			  
			</ul><!--/navbar-nav-->
			
		  </div><!--/container-->
	</nav>
	
	<div class="container-fluid">
	    <div class="row">
			<div class="col-lg-offset-1 "></div>
			
			<div class="col-lg-7 col-lg-offset-1 "><!-- svg -->
				 <svg #svg id="svg" height="500" width="500" preserveAspectRatio="xMinYMin meet">
				 </svg>	
			</div><!-- /svg -->
			
			<div class="col-lg-3">
				<div><!-- tableauInfo -->					
					<h1 [ngStyle]="{'color':'red'}" >BATIMENT {{building_data.reference}}</h1>
					<ul>  
						<li *ngFor=" let polygon of building_data.polygon">
							{{polygon.lat }}   ,   {{ polygon.lng }}
						</li>
					 </ul>
						<ul>
							<li *ngFor=" let floor of building_data.listFloor"><!--liste de floor of build-->
							    {{floor.reference}}
							     <ul>								
									<li *ngFor="let space of floor.listSpaces let i = index" >	<!--liste de floor of build-->						
											Space : {{space.reference }} 
											<ul *ngFor="let reader of space.listReaders; let i = index" >
												<li>
													
												</li>										
											</ul>
											<ul *ngFor="let object of space.tabObjects; let i = index" >
												<li>
													{{object.id_object}}: {{object.reference}}
												</li>										
											</ul>
											
									</li> <!--/lisitng space of floor -->
								 </ul>
						    </li><!--/lisitng floor of building -->
						</ul>
					
				</div><!-- /tableauInfo -->	
			</div>
		
		</div>
	</div>
	
	
	
	
	
</body>
</html>
