<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    #svg {
		background:silver;
		border: black thick  1px;
	}
	
	g {
		fill:red;
	}
	body{
		padding : 0px 10px;
	}
	
.select {
			
			stroke-width: 3;
			fill: #00FE08;
	}
	
	#selected
	{
		border: black thick  1px;
	}
	
	#idPoly{style="stroke:black;stroke-width:2px;fill:yellow"	}
	
	li.selectFloor{
		font-size: larger;
		
	}
    </style>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- JS -->
	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
	<script src="//d3js.org/d3.v3.min.js"></script>	
	
	<script src="https://cdn.jsdelivr.net/d3js/3.5.9/d3.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" ></script>
	
</head>

<body>
	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">WebSiteName</a>
			</div><!--/navBar header-->
			
			<ul class="nav navbar-nav">
			
			  <li><a id="newReader" [ngClass]="{'disabled':isOneSite}"  (click)="createNewReader();">Nouveau Reader</a></li>				
			  <li><a id="newSite" [ngClass]="{'disabled':isOneSite}"  (click)="createNewFloor();">Nouvel etage</a></li>
			  <li class="active"><a href="#">Home</a></li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Nouvelle forme
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#" id="newSite">Nouveau site</a></li>
				  <li><a href="#" [ngClass]="{'disabled':isOneSite}"  (click)="addPolygons(false);">Nouveau batiment</a></li>
				  <li><a href="#">Page 1-3</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Modification
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#" onclick="modificationSite();">Modification site</a></li>
				  <li><a href="#" onclick="modificationBuilding();">Modification batiment</a></li>				  
				</ul>
			  </li>
			  
			  <li><a href="#">Page 2</a></li>
			  <li><a href="#">Page 3</a></li>
			  
			</ul><!--/navbar-nav-->
			
		  </div><!--/container-->
	</nav>
	
	<div class="container-fluid">
	    <div class="row">
			<div class="col-lg-1 "> 
				<ul>
					<button *ngFor="let floor of building_data.listFloor; let i = index"
					(click)="drawFloor(floor,index)">							
						 {{ floor.reference }} 
					</button>
				</ul>
						

			</div>
			
			<div class="col-lg-7 col-lg-offset-1 ">
				 <svg #svg id="svg" height="700" width="700" >
				 </svg>	
			</div>
			
			<div class="col-lg-3 ">
				<button  id="send" type="submit" (click)="drawOnSvg()"  class="btn btn-default" [disabled]="notYetFloor"  >Drawing shapes</button>
			<br /><br />
			
			<div class="row">	
			
				<div class="panel-group"><!-- tableauInfo -->				
					<div class="panel panel-primary"> <!-- titre panneau -->
						<div class="panel-heading"><!-- panel heading -->
							<h1>Batiment selectionné : {{building_data.reference}}</h1>
						</div><!-- /panel heading -->		
					
                         <div class="panel-body">
							<ul>
								<li *ngFor=" let floor of building_data.listFloor" [class.selectFloor]="floor == currentFloor"(click)="drawFloor(floor,index)"
								style="cursor:pointer"><!--liste de floor of build-->
									Etage {{floor.order_number}}  {{floor.reference}}
									 <ul *ngIf="floor == currentFloor">								
										<li *ngFor="let space of floor.listSpaces let i = index" >	<!--liste de floor of build-->						
												Space : {{space.reference }} 
												<ul *ngFor="let reader of space.listReaders let i = index" >
													<li>
														  Reader : {{ reader.reference }}
													</li>										
												</ul>
												<ul *ngFor="let object of space.tabObjects let i = index" >
													<li>
														{{object.id_object}}: {{object.reference}}
													</li>										
												</ul>
												
										</li> <!--/lisitng space of floor -->
									 </ul>
								</li><!--/lisitng floor of building -->
							</ul>
						 </div>
					</div> <!-- /titre panneau -->
				</div><!-- /tableauInfo -->	
				
			</div> <!-- /row -->
			<div class="row">
				
				<!--FORMUALIRE NEW ETAGE-->
				<div *ngIf="isANewFloor" >
						<h1 [ngStyle]="{'color':'red'}" >Nouvelle Etage</h1>
						<form #form="ngForm" id="formulaire"  class="simple-form" >
						
						  <div class="form-group">
							<label for="nomEtage">Reference:</label>
							<input #name="ngModel" type="text" class="form-control"  id="nomEtage"
								[(ngModel)] = "newFloor.reference" 	name="nomEtage"	
								required />
								
							<p *ngIf="name.control.hasError('required')&& (name.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
							
						  </div> <!--/input Nom -->
						  
						  <div class="form-group">
							<label for="adressePostal">Numero de l'étage:</label>
							<input #FloorNumber="ngModel" type="number" class="form-control required" id="adressePostal" required
							[(ngModel)] = "newFloor.order_number" name="address" placeholder="ex: Edouard Belin,50b"/>
						  
							<p *ngIf="FloorNumber.control.hasError('required') && (FloorNumber.touched)"
							class="alert alert-danger validation-message">Numero de l'étage requis</p>
							
						  </div><!--/input adresse -->
						  
						  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}				  </div>			  
						  <button id="send" type="submit" (click)="confirmAddNewFloor()"  class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
						</form>
					</div><!-- form site-->	
				<!--/fin CREATION NEW FLOOR-->	
				
						
				<!--FORMUALIRE NEW SPACE-->
					<div *ngIf="isANewSpace" >
						<h1 [ngStyle]="{'color':'red'}" >Nouvelle Espace</h1>
						
						<form #form="ngForm" id="formulaire"  class="simple-form" >
						  <div class="form-group">
							<label for="nomEspace">Reference:</label>
							<input #name="ngModel" type="text" class="form-control"  id="nomEspace"
								[(ngModel)] = "newSpace.reference" 	name="nomEspace"	
								required />
								
							<p *ngIf="name.control.hasError('required')&& (name.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
							
						  </div> <!--/input Nom -->
						  
						  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}	</div>			  
						  <button id="send" type="submit" (click)="confirmAddNewSpace()"  class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
						</form>
					</div><!-- form site-->	
				<!--/fin CREATION NEW SPACE-->	
			
				
				<!--FORMUALIRE NEW READER-->
				<div *ngIf="isANewReader" >
						<h1 [ngStyle]="{'color':'red'}" >Nouveau Reader </h1>
						<form #form="ngForm" id="formulaire"  class="simple-form" >
						
						  <div class="form-group">
							<label for="nomReader">Reference:</label>
							<input #name="ngModel" type="text" class="form-control"  id="nomReader"
								[(ngModel)] = "newReader.reference" 	name="nomReader"	
								required />
								
							<p *ngIf="name.control.hasError('required')&& (name.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
							
						  </div> <!--/input Mac adresse -->
						  
						  <div class="form-group">
							<label for="adresseMac">Mac address:</label>
							<input #MacAddress="ngModel" type="text" class="form-control required" id="adresseMac" required
							[(ngModel)] = "newReader.mac" name="adresseMac" />
						  
							<p *ngIf="MacAddress.control.hasError('required') && (MacAddress.touched)"
							class="alert alert-danger validation-message"> Adresse Mac requise </p>
							
						  </div><!--/input Mac adresse -->
						  
						  <div class="form-group"> <!--input fixe -->
							<label for="fixe">Reader fixe:
							<input #Fixed="ngModel" type="checkbox" class="form-control required" id="fixe" 
							[(ngModel)] = "newReader.fixed" name="fixe" /> </label>
							<p  class="alert alert-info validation-message"> Cocher la case si votre reader est fixe</p>
						  
						  </div><!--/input fixe -->
							
							
							<div class="form-group"><!--SELCET space -->
							<label for="space">Space:</label>
							<select  #MacAddress="ngModel" class="form-control"  id="space" name="space" [(ngModel)]="newReader.id_space" disabled="disabled">
								<option *ngFor="let space of currentFloor.listSpaces; let i = index;"
								[value]="space.id_space"  required> {{space.id_space }} - {{ space.reference }}</option>							
							</select>
							<!-- <input disabled="disabled" #MacAddress="ngModel"  class="form-control required" id="space" required
							[(ngModel)] = "currentFloor.listSpaces[spaceIndex].listReaders[readerIndex].id_space" name="space" /> -->
						  
							<p *ngIf="MacAddress.control.hasError('required') && (MacAddress.touched)"
							class="alert alert-danger validation-message"> Espace doit etre selectionne </p>
							
						  </div><!--/input space -->
							
							
						  <!--INPUT space  -->
						 <!--  <div class="form-group">
							<label for="space">Space:</label>
							<input disabled="disabled" #MacAddress="ngModel" type="text" class="form-control required" id="space" required
							[(ngModel)] = "newReader.id_space" name="space" />
						  
							<p *ngIf="MacAddress.control.hasError('required') && (MacAddress.touched)"
							class="alert alert-danger validation-message"> Numero de l'étage requis </p>
							
						  </div>--><!--/input space --> 
						  
						  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}				  </div>			  
						  <button id="send" type="submit" (click)="confirmAddNewReader()"  class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
						</form>
					</div><!-- form site-->	
				<!--/fin CREATION NEW READER-->	
			
			   <!--FORM MODIF SPACE-->
					<div *ngIf="UpdateSpace" >
						<h1 [ngStyle]="{'color':'red'}" >Modifier Espace</h1>
						<div *ngIf="selectedSpace">
							<form #form="ngForm" id="formulaire"  class="simple-form" >
							  <div class="form-group">
								<label for="nomEspace">Reference:</label>
								<input #name="ngModel" type="text" class="form-control"  id="nomEspace"
									[(ngModel)] = "spaceUpdate.reference" 	name="nomEspace"	
									required />
									
								<p *ngIf="name.control.hasError('required')&& (name.touched)"
								class="alert alert-danger validation-message">Référence requise</p>
								
							  </div> <!--/input Nom -->
							  
							  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}	</div>			  
							  <button id="send" type="submit" (click)="confirmUpdateSpace()"  class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
							</form>
						</div>
					</div>
			   
			   <!--/FORM MODIF SPACE-->
			
			<!--FORMUALIRE UPDATE READER-->
				<div *ngIf="UpdateReader" >
						<h1 [ngStyle]="{'color':'red'}" >Update Reader </h1>
						<form #form="ngForm" id="formulaire"  class="simple-form" >
						
						  <div class="form-group"> <!--input reference -->
							<label for="nomReader">Reference:</label>
							<input #name="ngModel" type="text" class="form-control"  id="nomReader"
								[(ngModel)] = "readerUpdate.reference" 	name="nomReader"	
								required />
								
							<p *ngIf="name.control.hasError('required')&& (name.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
							
						  </div> <!--/input reference -->
						  
						  <div class="form-group"><!--input space -->
							<label for="space">Space:</label>
							<select  #MacAddress="ngModel" class="form-control"  id="space" name="space" [(ngModel)]="readerUpdate.id_space" >
								<option *ngFor="let space of currentFloor.listSpaces; let i = index;"
								[value]="space.id_space" (click)="moveReader(i)" required> {{space.id_space }} - {{ space.reference }}</option>							
							</select>
							<!-- <input disabled="disabled" #MacAddress="ngModel"  class="form-control required" id="space" required
							[(ngModel)] = "currentFloor.listSpaces[spaceIndex].listReaders[readerIndex].id_space" name="space" /> -->
						  
							<p *ngIf="MacAddress.control.hasError('required') && (MacAddress.touched)"
							class="alert alert-danger validation-message"> Espace doit etre selectionne </p>
							
						  </div><!--/input space -->
						  
						  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}				  </div>			  
						  <button id="send" type="submit" (click)="ConfirmUpdateReader()"  class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
						</form>
					</div><!-- form site-->	
				<!--/fin UPDATE  READER-->	
			
			
				<div *ngIf= "basicView" class="panel-group" >				
				  <h1>Espace selectionné</h1>
					<div *ngIf= "currentFloor.listSpaces[selectedSpace]">
					<h2>{{currentFloor.listSpaces[selectedSpace].reference}}</h2>
					      <div> <!-- si clic alors fiche formaulire-->
							<form #form="ngForm" id="formulaire"  class="simple-form" >
								  <div class="form-group">
									<label for="nomEspace">Reference:</label>
									<input #name="ngModel" type="text" class="form-control"  id="nomEspace"
										[(ngModel)] = "currentFloor.listSpaces[selectedSpace].reference" 	name="nomEspace"	
										required />
										
									<p *ngIf="name.control.hasError('required')&& (name.touched)"
									class="alert alert-danger validation-message">Référence requise</p>
									
								  </div> <!--/input Nom -->
								  
								  <div id="error" [ngStyle]="{'color':'red'}"> {{errorMessage}}	</div>			  
								  <button id="send" type="submit"   class="btn btn-default" [disabled]="!form.form.valid" >Submit</button>
								</form>
							</div>
					 </div>
					<!-- <table class= "table">
						 <thead>
							<tr>
							  <th>Space : {{space.reference }}</th>							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">1</th>
							  <td>Mark</td>
							  <td>Otto</td>
							  <td>@mdo</td>
							</tr>							
						  </tbody>
					</table> -->
				 
				</div>
			</div>	
			</div>
		
		</div>
	</div>
	
	
	
	
	
</body>
</html>
