<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
     	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	   
		<script src="https://cdn.jsdelivr.net/d3js/3.5.9/d3.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js" ></script>
		
	    <style>
			
		</style>
</head>

<body>	

		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="#">WebSiteName</a>
				</div><!--/navBar header-->
				
				<ul class="nav navbar-nav">
				  <li class="active"><a href="#">Home</a></li>
				 <li><a [routerLink]="['/tag']"> Tag fenetre</a></li> 
				  <li><a id="newReader" [ngClass]="{'disabled':isOneSite}"  >Update Reader</a></li>

				  <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" >Nouvelle forme
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="#" id="newSite">Nouveau site</a></li>
					  <li><a href="#" [ngClass]="{'disabled':isOneSite}"  >Nouveau batiment</a></li>
					  <li><a href="#">Page 1-3</a></li>
					</ul>
				  </li>
				  <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" >Modification
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a >Modification site</a></li>
					  <li><a >Modification batiment</a></li>				  
					</ul>
				  </li>
				  </ul><!--/navbar-nav-->
				  
				  <form #form="ngForm" class="navbar-form navbar-right inline-form"> <!--form recherche obj-->
					<div class="form-group">
					  <input #reference="ngModel" name="recherche" type="search" class="input-sm form-control" placeholder="Recherche" [(ngModel)]="critereRecherche">
					  <button type="submit" class="btn btn-primary btn-sm" (click)="searchObject()"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
					</div>
				   </form> <!-- /form recherche obj-->

			  </div><!--/container-->
		</nav>
	
		<div class="container-fluid">		
		
			<div class="row">			
				<div><!--Pop-up-->
				<ngui-popup #popup></ngui-popup>
			</div><!--/Pop-up-->
			
			<modal #modal>
				<modal-header [show-close]="true">
					<h2 class="modal-title">Create new object</h2>
				</modal-header>
				<modal-body>
						<h4>Object</h4>
					<form #form="ngForm" id="formulaire"  class="simple-form" >
						<div class="form-group"><!-- Champs reference -->
							<label for="textbox">Reference</label>
							<input #reference="ngModel"  type="text" class="form-control" id="textbox" name="textbox"
								[(ngModel)]="newObject.reference" required>
							<p *ngIf="reference.control.hasError('required')&& (reference.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
						</div> <!-- /Champs reference -->       
					</form>
				</modal-body>
				<modal-footer >
					<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close()">Cancel</button>
					<button type="button" class="btn btn-primary" [disabled]="!newObject.reference" (click)="confirmAddObjet()">Submit</button>
				</modal-footer>
			</modal>	
				
				
				<modal #modalUpdate>
				<modal-header [show-close]="true">
					<h2 class="modal-title">Update object</h2>
				</modal-header>
				<modal-body>
						<h4>Object</h4>
					<form #form="ngForm" id="formulaire"  class="simple-form" >
						<div class="form-group"><!-- Champs reference -->
							<label for="textbox">Reference</label>
							<input #reference="ngModel"  type="text" class="form-control" id="textbox" name="textbox"
								[(ngModel)]="updateObject.reference" required>
							<p *ngIf="reference.control.hasError('required')&& (reference.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
						</div> <!-- /Champs reference -->       
					</form>
				</modal-body>
				<modal-footer >
					<button type="button" class="btn btn-default" data-dismiss="modalUpdate" (click)="modalUpdate.close()">Cancel</button>
					<button type="button" class="btn btn-primary" [disabled]="!updateObject.reference" (click)="confirmUpdateObjet()">Submit</button>
				</modal-footer>
			</modal>
				
				<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1"> <!-- tab de données-->
				
						<div class="row form-group">
							<div class="form-group col-md-6">							  
								<input type="text" [(ngModel)]="searchText" 
									   class="form-control" placeholder="Search By {{searchBy}}" />
							</div>
							<div class="form-group col-md-2">
							  <select #selectSite="ngModel" class="form-control"[(ngModel)]="searchBy" name="search">
								<option  [value]="'Reference'"> Reference </option>
								<option   [value]="'Espace'"> Piece </option>
							  </select>
							</div>
						</div>
							
					<table class="table table-bordered">
					  <thead class="thead-default">
						<tr>					
						  <th>#</th>
						  
						  <th class="pointer" (click)="sort('id_object')">
							 Details objet
							<i class="fa" [ngClass]="{'fa-sort': column != 'id_object', 'fa-sort-asc': (column == 'id_object' && isDesc), 'fa-sort-desc': (column == 'id_object' && !isDesc) }" aria-hidden="true"> </i>
						  </th>
						  
						 <th class="pointer" (click)="sort('reference')">
							    Reference Objet
							  <i class="fa" [ngClass]="{'fa-sort': column != 'reference', 'fa-sort-asc': (column == 'reference' && isDesc), 'fa-sort-desc': (column == 'reference' && !isDesc) }" aria-hidden="true"> </i>
						 </th>	
						 
						 <th class="pointer" (click)="sort('date_detection')">
								Date Detection
							  <i class="fa" [ngClass]="{'fa-sort': column != 'date_detection', 'fa-sort-asc': (column == 'date_detection' && isDesc), 'fa-sort-desc': (column == 'date_detection' && !isDesc) }" aria-hidden="true"> </i>
						 </th>
						 
						 <th class="pointer" (click)="sort('spaceRef')">
							   Pièce localisé
						   <i class="fa" [ngClass]="{'fa-sort': column != 'spaceRef', 'fa-sort-asc': (column == 'spaceRef' && isDesc), 'fa-sort-desc': (column == 'spaceRef' && !isDesc) }" aria-hidden="true"> </i>
						 </th>
						 
						 <th class="pointer" (click)="sort('floorRef')">
							    Etage
						   <i class="fa" [ngClass]="{'fa-sort': column != 'floorRef', 'fa-sort-asc': (column == 'floorRef' && isDesc), 'fa-sort-desc': (column == 'floorRef' && !isDesc) }" aria-hidden="true"> </i>
						 </th>
						 
						  <th class="pointer" (click)="sort('buildRef')" >
								Batiment
							 <i class="fa" [ngClass]="{'fa-sort': column != 'buildRef', 'fa-sort-asc': (column == 'buildRef' && isDesc), 'fa-sort-desc': (column == 'buildRef' && !isDesc) }" aria-hidden="true"> </i>
						  </th>
						  
						  <th class="pointer" (click)="sort('siteRef')">
								Site affecté
						     <i class="fa" [ngClass]="{'fa-sort': column != 'siteRef', 'fa-sort-asc': (column == 'siteRef' && isDesc), 'fa-sort-desc': (column == 'siteRef' && !isDesc) }" aria-hidden="true"> </i>
						  </th>
						  
						</tr>
					  </thead>
					  <tbody><!-- sortType: sortReverse -->
					  
						<tr *ngFor="let object of objects_listes | category: {search :searchText, categorie:searchBy} | orderBy: {property: column, direction: direction}  ; let i = index">
						  <td scope="row">{{i+1}}</td>
						  <td><a [routerLink]="['/object/details',object.id_object]">{{object.id_object}}</a></td>
						  <td ><p [class.selectObject]="selectedObject == object"  (click)="selectingObject(object);" style="cursor: pointer; cursor: hand;">{{object.reference}}</p></td>						 
						  <td>{{object.date_detection}}</td>
						  <td>{{object.spaceRef}}</td>
						  <td>{{object.floorRef}}</td>						  
						  <td>{{object.buildRef}}</td>						  
						  <td>{{object.siteRef}}</td>
						</tr>						
					  </tbody>
					</table>
					
					<!-- <ng2-smart-table [settings]="settings" [source]="objects_listes | async"></ng2-smart-table> -->
					
				</div> <!-- /tab de données-->
				
				
<!-- 										  <td (mouseover)="hoverI = i" [class.selectObject]="i == hoverI" (click)="selectingObject(i);" style="cursor: pointer; cursor: hand;">{{object.reference}}</td>
 -->

			</div>
			
			
			<br /><br />
		
			<div class='row'>			
				<div class="col-lg-12 text-center pb-5">
					<button *ngIf="!siteId" class="btn btn-primary btn-rond" id="confirmBtn" (click)="modal.open();" > Creer nouvel objet </button>
					<button class="btn btn-primary btn-rond " [disabled]="!selectedObject || searchText" (click)="modalUpdate.open()" >Modifier Reference Objet</button>					
				</div><!-- /button_footer-->			
			</div><!-- /row-->	
			
				
		</div>
		
	 
</body>
</html>
