<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
     	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	   
		<script src="https://cdn.jsdelivr.net/d3js/3.5.9/d3.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js" ></script>
		
	    <style>
			.selectObject{ color:#6F7C7A;}
		</style>
</head>

<body>	

		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="#">WebSiteName</a>
				</div><!--/navBar header-->
				
				<ul class="nav navbar-nav">
				  <li class="active"><a href="#">Home</a></li>
				 <li><a [routerLink]="['/tag']"> Tag fenetre</a></li> 
				  <li><a id="newReader" [ngClass]="{'disabled':isOneSite}"  >Update Reader</a></li>

				  <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" >Nouvelle forme
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="#" id="newSite">Nouveau site</a></li>
					  <li><a href="#" [ngClass]="{'disabled':isOneSite}"  >Nouveau batiment</a></li>
					  <li><a href="#">Page 1-3</a></li>
					</ul>
				  </li>
				  <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" >Modification
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a >Modification site</a></li>
					  <li><a >Modification batiment</a></li>				  
					</ul>
				  </li>
				  </ul><!--/navbar-nav-->
				  
				  <form #form="ngForm" class="navbar-form navbar-right inline-form"> <!--form recherche obj-->
					<div class="form-group">
					  <input #reference="ngModel" name="recherche" type="search" class="input-sm form-control" placeholder="Recherche" [(ngModel)]="critereRecherche">
					  <button type="submit" class="btn btn-primary btn-sm" (click)="searchObject()"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
					</div>
				   </form> <!-- /form recherche obj-->

			  </div><!--/container-->
		</nav>
	
		<div class="container-fluid">		
		
			<div class="row">			
				<div><!--Pop-up-->
				<ngui-popup #popup></ngui-popup>
			</div><!--/Pop-up-->
			
			<modal #modal>
				<modal-header [show-close]="true">
					<h2 class="modal-title">Create new object</h2>
				</modal-header>
				<modal-body>
						<h4>Object</h4>
					<form #form="ngForm" id="formulaire"  class="simple-form" >
						<div class="form-group"><!-- Champs reference -->
							<label for="textbox">Reference</label>
							<input #reference="ngModel"  type="text" class="form-control" id="textbox" name="textbox"
								[(ngModel)]="newObject.reference" required>
							<p *ngIf="reference.control.hasError('required')&& (reference.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
						</div> <!-- /Champs reference -->       
					</form>
				</modal-body>
				<modal-footer >
					<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close()">Cancel</button>
					<button type="button" class="btn btn-primary" [disabled]="!newObject.reference" (click)="confirmAddObjet()">Submit</button>
				</modal-footer>
			</modal>	
				
				
				<modal #modalUpdate>
				<modal-header [show-close]="true">
					<h2 class="modal-title">Update object</h2>
				</modal-header>
				<modal-body>
						<h4>Object</h4>
					<form #form="ngForm" id="formulaire"  class="simple-form" >
						<div class="form-group"><!-- Champs reference -->
							<label for="textbox">Reference</label>
							<input #reference="ngModel"  type="text" class="form-control" id="textbox" name="textbox"
								[(ngModel)]="newObject.reference" required>
							<p *ngIf="reference.control.hasError('required')&& (reference.touched)"
							class="alert alert-danger validation-message">Référence requise</p>
						</div> <!-- /Champs reference -->       
					</form>
				</modal-body>
				<modal-footer >
					<button type="button" class="btn btn-default" data-dismiss="modalUpdate" (click)="modalUpdate.close()">Cancel</button>
					<button type="button" class="btn btn-primary" [disabled]="!newObject.reference" (click)="confirmUpdateObjet()">Submit</button>
				</modal-footer>
			</modal>
				
				<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2"> <!-- tab de données-->
					<table class="table">
					  <thead class="thead-default">
						<tr>
						  <th>#</th>
						  <th>Details objet</th>
						  <th>Reference Objet</th>
						  <th>Objet</th>
						  <th>Date Detection</th>
						  <th>Pièce localisé</th>
						  <th>Batiment</th>
						  <th>Site affecté</th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let object of objects_listes; let i = index">
						  <th scope="row">{{index+1}}</th>
						  <td><a [routerLink]="['/object/details',object.spaceId]">{{object.spaceId}}</a></td>
						  <td ><a [class.selectObject]="selectedObject == object"  (click)="selectingObject(i);" style="cursor: pointer; cursor: hand;">{{object.reference}}</a></td>
						  <td>{{object.id_object}}</td>
						  <td>{{object.date_detection}}</td>						  
						  <td>{{object.floorRef}}</td>
						  <td>{{object.buildRef}}</td>
						  <td>{{object.siteRef}}</td>
						</tr>						
					  </tbody>
					</table>
				</div> <!-- /tab de données-->
				
				
<!-- 										  <td (mouseover)="hoverI = i" [class.selectObject]="i == hoverI" (click)="selectingObject(i);" style="cursor: pointer; cursor: hand;">{{object.reference}}</td>
 -->

			</div>
			
			
			<br /><br />
		
			<div class='row'>			
				<div class="col-lg-12 text-center pb-5">
					<button *ngIf="!siteId" class="btn btn-primary btn-rond" id="confirmBtn" (click)="modal.open();" > Creer nouvel objet </button>
					<button class="btn btn-primary btn-rond " [disabled]="!selectedObject" (click)="modalUpdate.open()" >Modifier Reference Objet</button>					
				</div><!-- /button_footer-->			
			</div><!-- /row-->	
			
				
		</div>
		
	 
</body>
</html>
